<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>A Cake for every occasion</h1>
    <a href="/cakes">All Cakes</a>
    <a href="/cakes/new">New Cake</a>
  </body>
</html>