<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <title>cakes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>A Cake for every Occasion</h1>
    <a href="/cakes/new">Orders</a>
    <a href="/cakes/new">Place Order</a>
  </body>
</html>
<%- include('../partials/footer') %>