<%- include('../partials/header') %>

  <body>
    <h1>Cakes</h1>
    <form id="new-form" action="/cakes" method="POST">
      <label>Flavor</label>
      <input type="text" name="flavor" />
      <label>Occasion</label>
      <input type="text" name="occasion" />
      <label>Style</label>
      <input type="text" name="style" />
      <input type="submit" value="Add Order" />
    </form>
  </body>
</html>
