<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cakes</h1>
    <form id="new-form" action="/cakes" method="POST">
        <label>Flavor</label>
        <input type="text" name="flavor">
        <label>Occasion</label>
        <input type="text" name="occasion">
        <label>Style</label>
        <input type="text" name="style">
        <input type="submit" value="Add Order">
      </form>
  
</body>
</html>