<%- include('../partials/header') %>

  <body>
    <img src="https://i.imgur.com/aoZekNZ.jpg"  class="img2" title="source: imgur.com" /></a>


    <h1>Place Order</h1>
    <form id="new-form" action="/cakes" method="POST">
      <label>Flavor</label>
      <input type="text" name="flavor" />
      <label>Occasion</label>
      <input type="text" name="occasion" />
      <label>Style</label>
      <input type="text" name="style" />
      <input type="submit" value="Add Order" />
    </form>
    <br>
    <div id="p">
    <p>We offer cakes for all occasions Birthdays, Weddings, Holidays or any other special event life has to offer!</p>
    
    <p>You can select from one of our many delicious flavors we offer. Vanilla, Chocolate, Strawberry, Red Velvet, Lemon, and Coconut!<p>

    <p>the styles we offer include sheet cakes, bundt cakes, 8 inch 3 layer cakes, and also 6 inch 3 layer cakes.</p>
    </p>
  </body>
</html>
