<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>cakes</h1>
    <section id="show-page">
        <div>Flavor: </div>
        <div>
          <%= cake.flavor %>
        </div>
        <div>Occasion: </div>
        <div>
          <%= cake.occasion %>
        </div>
        <div>Style: </div>
        <div>
          <%= cake.style %>
        </div>
        
    
</body>
</html>